@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

a,
a:hover {
  color: inherit;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
}

* {
}
